apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: image: us-central1-docker.pkg.dev/amiable-archive-473111-d4/my-repo/notes-backend:latest
        ports:
        - containerPort: 8080

